body {
    display:flex;
    text-align: center;
    justify-content: center;
    font-family: 'Libre Franklin', sans-serif;
    margin: 5%;
    font-size: 20px;
}

h1 {
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

.highlight {
    font-weight: 700;
    color: #000
}

.illustration img {
    margin-top: 50px;
    width: 60%;
    margin-bottom: 50px;
}

form {
    max-width: 100%
}

input {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 30px;
    height: 23px;
    width: 260px;
    opacity: 0.6;
    padding: 8px 18px;
    margin-right: 5px;
    transition: all 0.3s linear;
}

button {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    background-color: hsl(223, 87%, 63%);
    border: none;
    border-radius: 30px;
    box-shadow: 0 0.5rem 0.8rem hsl(223, 100%, 88%);
    color: #ffffff;
    padding: 8px 18px;
    height: 40px;
    width: 160px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
button:hover {
    opacity: 0.9;
}

.social-icons img {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    padding: 9px 0px;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: all 0.3s linear;
    cursor: pointer;
}

.copyright {
    margin-top: 10px;
    font-size: 12px;
    color: hsl(0, 0%, 59%);
}